<div class="" style="margin-top: 8rem ;margin-bottom: 8rem">
  <div class="container mt-4 column d-flex "   >
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 " >
    <!-- Sertifika Kartları Başlangıcı -->
    <div class="col">
      <div class="card h-100">
        <img src="~/img/turkcell.png"  style="background-position: center; object-fit: contain; padding: 10px"  width="200" height="200" class="card-img-top" alt="Sertifika 2">
        <div class="card-body">
          <h5 class="card-title">Sertifika Başlığı 1</h5>
          <p class="card-text">Sertifikanız hakkında kısa bir açıklama.</p>
         
          <a href="sertifika1_detay.html" class="btn btn-primary littlebutton">Detaylar</a>
         
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 ">
        <img src="~/img/udemylogo2.svg"  style="background-position: center; object-fit: contain; padding: 30px"  width="200" height="200" class="card-img-top" alt="Sertifika 2">
        <div class="card-body">
          <h5 class="card-title">Sertifika Başlığı 2</h5>
          <p class="card-text">Sertifikanız hakkında kısa bir açıklama.</p>
          <a href="sertifika2_detay.html" class="btn btn-primary  littlebutton" style="">Detaylar</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="~/img/btkakademi.png"  style="background-position: center; object-fit: contain; padding: 30px"  width="200" height="200" class="card-img-top" alt="Sertifika 2">
        <div class="card-body">
          <h5 class="card-title">Sertifika Başlığı 2</h5>
          <p class="card-text">Sertifikanız hakkında kısa bir açıklama.</p>
          <a href="sertifika2_detay.html" class="btn btn-primary littlebutton">Detaylar</a>
        </div>
      </div>
    </div>
   
  </div>



   @* Tags *@
  <div class="card mb-3  h-100   mx-2" style="width: 500px;">
    <div class="card-header" style="background-color:#26535C ; color: white">
      <h5 class="card-title mb-0">Tags</h5>
    </div>
    <div class="card-body">
      <ul class="list-inline d-flex flex-wrap gap-2 "  ></ul>
      <li class="list-inline-item">
        <a href="/posts/tag/tag" class=" btn btn-outline-secondary btn-sm"  >C# </a>
      </li>
      <li class="list-inline-item">
        <a href="/posts/tag/tag" class=" btn btn-outline-secondary btn-sm">C# </a>
      </li>
        <li class="list-inline-item">
        <a href="/posts/tag/tag" class=" btn btn-outline-secondary btn-sm">C# </a>
      </li>
    </div>

  </div>
</div>

</div>