<div class="w-full h-full Page-background  mt-3"   >
  <div class="container container-h w-full h-full  ">
    <div class="row" >
      <div class="col-md-12 d-flex flex-column align-items-center  justify-content-center spaces  ">
        <div class="col-md-12 d-flex flex-column  responsiveRow align-items-center justify-content-center   indexicerik "
          style="">
          <img src="~/img/programmer2.png" class="imageLogo" style="   ">
          <div class=" d-flex flex-column  align-items-center justify-content-center">
            <h1 class="display-2 text-start   fw-bold shadow   h1merhaba" style="color: #e0a600; ">
              Merhaba Ben Mert Kaçar
            </h1>
            <p class="display-6 text-start     fw-semibold shadow phosgeldin" style="color: #e0a600"> WebSiteme
              hoşgeldin ben
              yazılım geliştiricisiyim.
              <br>Aşağıdaki sözü kariyerim için çok önemli buluyorum:
            </p>
          </div>
        </div>

        <p class="display-6 text-center text-white fw-bold shadow  alinti" style="margin-bottom: 5px;">
          <i class="fa-solid fa-quote-left"></i>
          Bilmek yeterli değil, uygulamak gerek; istemek yeterli değil yapmak gerek
          <i class="fa-solid fa-quote-right"></i>
          <br>
            <button onclick="location.href='/about/index'" class="specialbutton mt-3  " style="margin-bottom: 3rem;" type="submit">Hakkımda</button>
        </p>
        
    
 
      </div>


    </div>
  
  </div>
</div>