<div class="container w-full h-full spaces">
  <div class="row mt-5" style="margin-bottom: 5rem !important;">
    <div class="col-md-8 d-flex flex-column align-items-center justify-content-around">
      <div class="card text-dark transparent-background cardStyle mt-5">
        <div class="card-body">
          <h5 class="card-title opaque-text-title">HAKKIMDA</h5>
          <p class="card-text opaque-text">Ben Mert Kaçar aslen Sivaslıyım, İstanbul doğumluyum. <br>
            Nişantaşı
            üniversitesi Bilgisayar Programcılığı diplomamı 2020 yılında aldım. Şu anda Kırşehir Ahi Evran
            üniversitesinde Yönetim Bilişim sistemleri 4.sınıf öğrencisiyim. Kısa süreli hedeflerim arasında kendimi
            web tasarım konusunda iyice geliştirmek var. SQL ve ilişkisel veritabanı sistemleriyle ilgileniyorum,
            özellikle PostgreSQL ve MSQL gibi platformlarda projeler geliştirmek istiyorum. En sevdiğim programlama
            dili ise, c#'dır.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4 d-flex flex-column align-items-center justify-content-center educationCard ">
      <div class="card text-dark transparent-background cardStyle1 mt-4">
        <div class="card-body mt-1">
          <h5 class="card-title opaque-text-title d-flex egitimlerim">EĞİTİMLERİM</h5>
          <div class="d-flex flex-column align-items-start">
            <div>
              <i style="margin-right: 10px;" class="fa-solid fa-calendar-days opaque-text-title"></i>
              <span class="opaque-text">2018-2020</span>
            </div>
            <div>
              <i style="margin-left: -4px;" class="fa-solid fa-graduation-cap opaque-text-title"></i>
              <span class="opaque-text">Nişantaşı Üniversitesi</span>
            </div>
            <div>
              <i style="margin-left: -4px;" class="fa-solid fa-school opaque-text-title"></i>
              <span class="opaque-text">Bilgisayar Programcılığı</span>
              <hr>
            </div>
            <div>
              <i style="margin-right: 12px;" class="fa-solid fa-calendar-days opaque-text-title"></i>
              <span class="opaque-text">2022-2024</span>
            </div>
            <div>
              <i style="margin-left: -4px;" class="fa-solid fa-graduation-cap opaque-text-title"></i>
              <span class="opaque-text">Ahi Evran Üniversitesi</span>
            </div>
            <div>
              <i style="margin-left: -4px;" class="fa-solid fa-school opaque-text-title"></i>
              <span class="opaque-text">Yönetim Bilişim Sistemleri</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
